<html>
<body>
<head><title>Social Playground
</title>
<link rel="icon" 
      type="image/ico" 
      href="/assets/images/logo.ico">
</head>
<div class="header">
	<%= render 'users/topmenu' %>
  <div class="header_interior"><img src="/assets/images/logo.png" alt="Logo" width="44" height="44" style="float:left; margin-right:10px;" /> 
  <h1 class="title">Social Playground</h1>
	</div>
</div>
<div class="content_body">
  <div class="content_interior"><div class="left_column"><div class="navigation">
	<div id="avatar">
		<h1><% if current_user.first_name.present? && current_user.last_name.present? %>
			<%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></h1>
		<% else %>
			<%= current_user.username.capitalize %></h1>
		<% end %>
		<%= image_tag current_user.avatar.url(:small) %>
	</div>
	<br>
<%= render 'users/menu' %>
</div>

<div class="navigationbtm"></div>
 <br />
 <img src="/assets/images/family.png" alt="sample 2" />
 </div>
    <div class="right_column">
			<%= render 'users/mail_menu' %>
			<div class='flash'>
				<%= flash_helper %>
			</div>
			<h7><%=h @message.subject %></h7>

			<p><strong>From:</strong> <%=h @message.author.username %></p>
			<p><strong>To:</strong> <%=h @message.recipients.map(&:username).to_sentence %></p>
			<p><strong>Received:</strong> <%= @message.created_at.to_s(:long) %></p>

			<pre><%=h @message.body %></pre>
			<p>
				<%= link_to "Reply", reply_message_path(@message) %>||
				<%= link_to "Delete", message_path(@message), :method => "delete" %>
			</p>

		</div>
<br clear="all" /></div>
<div class="footer"><div class="footer-inner"><div class="footer-div"><h4>Link Area</h4>
<ul>
<li><a href="/index.html">Link 1</a></li>
<li><a href="/index.html">Link 2
</a></li>
<li><a href="/index.html">Link 3
</a></li>
</ul>
</div>

    <div class="footer-div">
      <h4>Link Area</h4>
      <ul>
        <li><a href="/index.html">Link 1</a> </li>
        <li><a href="/index.html">Link 2 </a> </li>
        <li><a href="/index.html">Link 3 </a> </li>
      </ul>
    </div>
    <div class="footer-div">
      <h4>Link Area</h4>
      <ul>
        <li><a href="/index.html">Link 1</a> </li>
        <li><a href="/index.html">Link 2 </a> </li>
        <li><a href="/index.html">Link 3 </a> </li>
      </ul>
    </div>
    <div class="footer-div">
      <h4>Link Area</h4>
      <ul>
        <li><a href="/index.html">Link 1</a> </li>
        <li><a href="/index.html">Link 2 </a> </li>
        <li><a href="/index.html">Link 3 </a> </li>
      </ul>
    </div>
    <br clear="all" />
<%= render 'users/footer' %>
</body>
</html>
