<html>
<head><title>
Log In
</title></head>
<body>
<div class="header">
  <div class="header_interior"><img src="assets/images/logo.png" alt="Logo" width="44" height="44" style="float:left; margin-right:10px;" /> 
  <h1 class="title">Social Playground</h1></div>
</div>
<div class="content_body">
  <div class="content_interior"><div class="left_column"><div class="navigation">
	<div id="avatar">
		 <img src="assets/images/family.png" alt="sample 2" />
	</div>
	<br>
<%= render 'users/menu' %>
			</div>

<div class="navigationbtm"></div>
 <br />
 </div>
    <div class="right_column">
				<h1>Log in</h1>
				<p>Don't have an account yet? <%= link_to "Sign up!", sign_up_path %></p>
				<div class='flash'>
					<%= flash_helper %>
				</div>
					<%= form_tag sessions_path do %>
						<p>
						<%= label_tag :email %> or Username<br />
							<%= text_field_tag :email, params[:email]%>
						</p>
						<p>
							<%= label_tag :password %><br />
							<%= password_field_tag :password %>
						</p>
						<p class="button"><%= submit_tag "Log in" %></p>
					<% end %>
</div>
	<div class='right_side'>
		<div class='navigation'>
			<%= render 'users/menu_right' %>
		</div>
	</div>
<br clear="all" /></div>

<%= render 'users/footer' %>
</body>
</html>




