<html>
	<head>
		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-30027871-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

		</script>
	</head>
	<div class='topper'>
		<%= render 'users/topmenu' %>
	</div>
	<%= render 'layouts/header' %>
	<body>
		<div class="content_body">
			<div class="content_interior"><div class="left_column"><div class="navigation">
			<div id="avatar">
				 <img src="/assets/images/family.png" alt="sample 2" />
			</div>
			<br>
		<%= render 'users/menu' %>
		</div>

		<div class="navigationbtm"></div>
		 <br />
		 </div>
		<div class="right_column">
			<div class="sign_up_left">
				<h1>Welcome to Social Parents</h1>
				<p>Here you are able to browse other families and meet other parents. Arrange play dates with your kids and other kids easier then before. Here is the only place where you can find just the right fit for your family. Many parents do not have many kids in the area they live. This makes getting to know other parents that want to get their kids out and have a good time, easy and safe. However, when arranging play dates with new friends, please be safe, always meet in public places.</p>
			<p>We are going through many changes regularly, the most recent is the change in website. Our new website is <a href="http://social-parents.com">Social-Parents.com</a>. We are just beginning here, so though there are not many users, we hope that you stay and watch as we grow. There will be more people soon, just be patient.</p>
			</div>
			<div class="sign_up_right">
				<h1>Log in</h1>
				<p>Don't have an account yet? <%= link_to "Sign up!", sign_up_path %></p>
				<div class='flash'>
					<%= flash_helper %>
				</div>
					<%= form_tag sessions_path do %>
						<p>
						<%= label_tag :email %> or Username<br />
							<%= text_field_tag :email, params[:email]%>
						</p>
						<p>
							<%= label_tag :password %><br />
							<%= password_field_tag :password %>
						</p>
						<p class="button"><%= submit_tag "Log in" %></p>
					<% end %>
				</div>
				<div class='right_side'>
					<%= render 'ads/google_right' %>
				</div>
			</div>
		<br clear="all" /></div>
		<div class='footer' align='center'>
			<%= render 'ads/google' %>
		</div>
		<%= render 'users/footer' %>
	</body>
</html>




