<ul id="feed_list">
		<% feeds.each do |feed| %>
			<li <% if feeds.first == feed %>class="first"<% end %>>
			<% if feed.user.avatar.file? %>
				<%= image_tag feed.user.avatar.url(:thumb) %>
			<% else %>
				<img src="assets/nopic2.png">
			<% end %>
			<div class="feed_message_container">
				<% if feed.user.first_name.present? && feed.user.last_name.present? %>
					<%= link_to "#{feed.user.first_name} #{feed.user.last_name}", feed.user.username %>
				<% else %>
					<%= link_to feed.user.username.capitalize, feed.user.username %>
				<% end %>

					<%= h feed.message %>
				<div class="time_ago">
					<%= time_ago_in_words feed.created_at %> ago
						<% if feed.user == current_user %>
							<div class="button">
								<%= link_to "delete", feed, :method => :delete %>
							</div>
						<% end %>
				</div>
			</div>
		<div class="clear"></div>
		</li>
	<% end %>
</ul>
