<% if current_user.friendships.count >= 1 %>
	<h3>Friends</h3>
	<ul id="user_list">
		<% for friendship in current_user.friendships %>
				<% if friendship.friend.friends.include?(current_user) %>
						<li><% if friendship.friend.avatar.file? %>
									<%= image_tag friendship.friend.avatar.url(:thumb) %>
								<% else %>
									<img src="assets/images/nopic2.gif">
								<% end %>
						<div class="user_message_container">
								<% if friendship.friend.first_name.present? %>
									<%= link_to friendship.friend.first_name.capitalize, friendship.friend.username %>
								<% else %>
							<%=h link_to friendship.friend.username.capitalize, friendship.friend.username %>
								<% end %>
							<div class="button">
								<%= link_to "Remove", friendship, :method => :delete %>
							</div>
							<%= friendship.friend.about_us %>
			</div>
				<% end %>
			<div class="clear"></div>
		<% end %>
	<br />
		</li>
	</ul> 
<% end %>
