<html>
<head><title>Social Playground</title>
<link rel="icon" 
      type="image/ico" 
      href="/assets/images/logo.ico">
</head>
<body>
<div class="header">
	<% if current_user %>
		<%= render 'topmenu' %>
	<% end %>
  <div class="header_interior"><img src="assets/images/logo.png" alt="Logo" width="44" height="44" style="float:left; margin-right:10px;" /> 
  <h1 class="title">Social Playground</h1></div>
</div>
<div class="content_body">
  <div class="content_interior"><div class="left_column"><div class="navigation">
		<div id="avatar">
			 <img src="assets/images/family.png" alt="sample 2" />
		</div>
	<br>
<%= render 'menu' %> 
	</div>
<div class="navigationbtm"></div>
 <br />
</div>
	<div class="right_column">
		<h5>Listed Items</h5>
		<p>These listings are listed by users. It is intended to be a way to get rid of the old clothing, or old toys that aren't played with anymore. Many other things can be listed though, you may find much more then just clothes and toys. Just remember these are driven by our users. so more will come in time, it just has to be posted for you to find it.</p>
		<div class="hr"></div>
		<div class='listings'>
		<% if current_user %>		
			<% @items.each do |item| %>
				<li>
					<% if item.user.state == current_user.state  %>
						<%= link_to item.item, "/item/#{item.id}" %>
					<% end %>
				</li>
			<% end %>
		<% else %>
			<% @items.each do |item| %>
				<li>
						<%= item.state %> <%= link_to item.item, "/item/#{item.id}" %>
				</li>
			<% end %>
		<% end %>
		</div><div id="clear"></div>
	</div>
	<div class='right_side'>
		<ul class="menu_right">
			<%= render 'users/menu_right' %>
		</ul>
	</div>
<br clear="all" /></div>

<%= render 'footer' %>
</body>
</html>
