<html>
	<head>
		<meta name="keywords" content="send invites, invite friends, throwing a party" />
		<meta name="description" content="This is where you can invite all of your friends to an event, such as a birthday party or some other event." />
		<title>Invite friends to an event</title>
		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-30258000-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

		</script>
	</head>
	<div class='topper'>
		<%= render 'topmenu' %>
	</div>
	<%= render 'layouts/header' %>
	<body>
		<div class="content_body">
			<div class="content_interior"><div class="left_column"><div class="navigation">
			<div id="avatar">
				<h1><% if current_user.first_name.present? && current_user.last_name.present? %>
					<%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></h1>
				<% else %>
					<%= current_user.username.capitalize %></h1>
				<% end %>
				<%= image_tag current_user.avatar.url(:small) %>
			</div>
			<br>
		<%= render 'menu' %>
		</div>

		<div class="navigationbtm"></div>
		 <br />
		 <img src="assets/family.png" alt="sample 2" />
		 </div>
				<div class="right_column">
					<div id="event_form">
						<div class='flash'>
							<%= flash_helper %>
						</div>
						<%= form_for Event.new do |f| %>
							<p>
								<%= f.label :event_name %><br>
								<%= f.text_field :event_name %>
							</p>
							<p>
								<%= f.label :event_description %><br>
								<%= f.text_area :event_description %>
							</p>
							<p>
								<%= f.label :date %><br>
								<%= f.date_select :date, :order => [:month, :day, :year] %>
							</p>
							<p>
								<%= f.label :start_time %><br>
								<%= f.text_field :start_time %>
							</p>
							<p>
								<%= f.submit %>
							</p>
						<% end %>
					</div><div classs='clear'></div>

					<div class='event_list_right'>
						<% if @events.count == 0 %>
							<h5>Post Your Events</h5>
							<p>
								Here you can post the events that you are throwing. If you are having a party for your childs birthday, this would be a good place to let all your friends know. If you wanted to have a night out with the family and friends, you could post it here so that your friends will know.<br /><br />
								Please remember, after the event, you should delete it, so it is not still on your friends event list.
							</p>
						<% else %>
							<% for event in current_user.events %>
								<li <% if current_user.events.first == event %> class='first'<% end %>>
									<div class='button'>
										<%= link_to "delete", event, :method => :delete %><br>
									</div>
									<%=h link_to event.event_name, "/event/#{event.id}" %>
									(<%= event.date %>)<br>
								</li>
							<% end %>
						<% end %>
					</div><div classs='clear'></div>
				</div>
			<div class='right_side'>
				
			</div>
		<br clear="all" /></div>
		<div class='footer' align='center'>
		</div>
		<%= render 'users/footer' %>
	</body>
</html>

