<html>
	<body>
		<%= render 'layouts/header' %>
		<div class="content_body">
			<div class="content_interior"><div class="left_column"><div class="navigation">
			<div id="avatar">
				 <img src="assets/images/family.png" alt="sample 2" />
			</div>
		<div class='flash'>
			<%= flash_helper %>
		</div>
		<br>
		<%= render 'menu' %>
		</div>

		<div class="navigationbtm"></div>
		 <br />
		 </div>
				<div class="right_column">
		<%= render 'friends' %>
		<br />
		<%= render 'irequest' %>
		<br />
		<%= render 'requestme' %>
		</div>
			<div class='right_side'>

			</div>
		<br clear="all" /></div>

		<%= render 'footer' %>
	</body>
</html>
