<html>
<body>
<head><title>Hello 
<% if current_user.first_name.present? %>
<%= current_user.first_name.capitalize %>
<% else %>
<%= current_user.username.capitalize %>
<% end %>
</title>
<link rel="icon" 
      type="image/ico" 
      href="/assets/images/logo.ico">
</head>
<div class="header">
	<%= render 'topmenu' %>
  <div class="header_interior"><img src="assets/images/logo.png" alt="Logo" width="44" height="44" style="float:left; margin-right:10px;" /> 
  <h1 class="title">Social Playground
</h1></div>
</div>
<div class="content_body">
  <div class="content_interior"><div class="left_column"><div class="navigation">
	<div id="avatar">
		<h1><% if current_user.first_name.present? && current_user.last_name.present? %>
			<%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></h1>
		<% else %>
			<%= current_user.username.capitalize %></h1>
		<% end %>
		<%= image_tag current_user.avatar.url(:small) %>

		<% unless current_user.pending_friends.empty? %>
			<%= link_to pluralize(current_user.pending_friends.length, "friend request"), friends_url %>
		<% end %>
		<p><%= useless_info %></p>
	</div>
	<br>
<%= render 'menu' %><br />

<% unless @events.count == 0 %>
<b>Social Events:</b>
	<% @events.each do |event| %>
		<div class="user_events">
			<li>
				<div class='button'>
					<%= event.date %>
				</div>
				<div class='event_name'>
					<%= link_to event.user.username.capitalize, "/#{event.user.username}" %> :<br />
					<%= link_to event.event_name, "/event/#{event.id}" %>
				</div><div class='clear'></div>
			</li>
		</div>
	<% end %>
<% end %>
</div>

<div class="navigationbtm"></div>
 <br />
 <img src="/assets/images/family.png" alt="sample 2" />
 </div>
    <div class="right_column">

			<h3>Whats on your mind?</h3>
			<%= form_for Feed.new do |f| %>
				<div id="new_feed_form">
					<%= f.text_area :message %>
					<div id="latest_message">
						<% if @last_feed.present? %>
							<%= @last_feed.message %>
							<div class="time_ago">
								<%= time_ago_in_words @last_feed.created_at %> ago
							</div>
						<% else %>
							Your latest posting will be shown here.
							<%= time_ago_in_words @user.created_at %> ago
						<% end %>
					</div>
					<div id="submit_button_container">
						<%= f.submit "Post" %>
					</div>
					<div class="clear"></div>
				</div>
		<div class="hr"></div>
			<% end %>
		<div class='flash'>
			<%= flash_helper %>
		</div>
		<br />
		<% if @feeds.count == 0 %>
			<%= User.first.about_us %>
		<% end %>
		<%= render :partial => 'feeds_list', :locals => { :feeds => @feeds } %>
			<% if @feeds.count >= 8 %>
				<p><%= link_to "Read all feeds", feeds_url %></p>
			<% end %>
  </div>
<br clear="all" /></div>
<div class="footer"><div class="footer-inner"><div class="footer-div"><h4>Link Area</h4>
<ul>
<li><a href="/index.html">Link 1</a></li>
<li><a href="/index.html">Link 2
</a></li>
<li><a href="/index.html">Link 3
</a></li>
</ul>
</div>

    <div class="footer-div">
      <h4>Link Area</h4>
      <ul>
        <li><a href="/index.html">Link 1</a> </li>
        <li><a href="/index.html">Link 2 </a> </li>
        <li><a href="/index.html">Link 3 </a> </li>
      </ul>
    </div>
    <div class="footer-div">
      <h4>Link Area</h4>
      <ul>
        <li><a href="/index.html">Link 1</a> </li>
        <li><a href="/index.html">Link 2 </a> </li>
        <li><a href="/index.html">Link 3 </a> </li>
      </ul>
    </div>
    <div class="footer-div">
      <h4>Link Area</h4>
      <ul>
        <li><a href="/index.html">Link 1</a> </li>
        <li><a href="/index.html">Link 2 </a> </li>
        <li><a href="/index.html">Link 3 </a> </li>
      </ul>
    </div>
    <br clear="all" />
<%= render 'footer' %>
</body>
</html>

