<html>
	<head>
		<meta name="keywords" content="Get free toys, toys for kids, equipment for children, free toys" />
		<meta name="description" content="List your old toys, and get new ones free here." />
		<title>My Listed Items</title>
		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-30258000-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

		</script>
	</head>
	<div class='topper'>
		<%= render 'topmenu' %>
	</div>
	<%= render 'layouts/header' %>
	<body>
		<div class="content_body">
			<div class="content_interior"><div class="left_column"><div class="navigation">
				<div id="avatar">
					 <img src="assets/family.png" alt="sample 2" />
				</div>
			<br>
		<%= render 'menu' %> 
			</div>
		<div class="navigationbtm"></div>
		 <br />
		</div>
			<div class="right_column">
				<div class="event_form">
					<div class='flash'>
						<%= flash_helper %>
					</div>
					<div class='default_left'>
						<%= form_for Item.new, :html => { :multipart => true } do |f| %>
							<p>
							<%= f.label :item %><br>
							<%= f.text_field :item %>
							</p>
							<p>
								<%= f.label :state %><br>
								<%= f.select :state, us_states %>
							</p>
							<p>
								<%= f.label :photo %><br>
								<%= f.file_field :photo %>
							</p>
							<p>
							<%= f.label :description %><br>
							<%= f.text_area :description %>
							</p>
							<p>
							<%= f.submit "Post Item" %>
							</p>
						<% end %>
					</div>
					<div class='default_right'>

						<% if @items.count == 0 %>
							<h5>List Your Old Stuff</h5>
							<p>
								Based on the term 'One persons trash is another persons treasure.' We are setting up a personal place to find items that are no longer needed by others, that you may need.<br /> 
							<br />
								For the term 'Pay it forward.' If you have something that your family can no longer use, like old clothes that may help someone else, please post it. This is set up to be a free service. From one family to another. We want to make it simple for getting rid of that which you do not need, and to find something you may.
							</p>
						<% else %>
							<h5>Current Listings</h5>
							<p><font color='red'>Remember, when your item is no longer available, please delete it.</font></p>
							<% @items.each do |item| %>
								<li>
									<div class='button'>
										<%= link_to "delete", item, :method => :delete %><br>
									</div>
									<%=h link_to "#{item.item}", "/item/#{item.id}" %>
								</li>
							<% end %>
						<% end %>
					</div><div class='clear'></div>
				</div>
			</div>
			<div class='right_side'>
				
			</div>
		<br clear="all" /></div>
		<div class='footer' align='center'>
		</div>
		<%= render 'users/footer' %>
	</body>
</html>
