<html>
<head><title>
<% if @user.first_name.present? && @user.last_name.present? %>
<%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %>
<% else %>
<%= @user.username.capitalize %>
<% end %>
</title>
<link rel="icon" 
      type="image/ico" 
      href="/assets/images/logo.ico">
</head>
<body>
<div class="header">
	<%= render 'topmenu' %>
  <div class="header_interior"><img src="assets/images/logo.png" alt="Logo" width="44" height="44" style="float:left; margin-right:10px;" /> 
  <h1 class="title">Social Playground</h1></div>
</div>
<div class="content_body">
  <div class="content_interior"><div class="left_column"><div class="navigation">
	<div id="avatar">
		<h1>
		<% if @user.first_name.present? && @user.first_name.present? %>
			<%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %>
		</h1>
		<% else %>
				<%= @user.username.capitalize %>
		</h1>
		<% end %>
		<%= image_tag @user.avatar.url(:small) %> 
		<% if current_user %>
			<% unless @user == current_user || current_user.requested_friends.include?(@user) || current_user.friends.include?(@user) || current_user.pending_friends.include?(@user) %>
				<%= link_to "Add Friend", friendships_path(:friend_id => @user), :method => :post %>
			<% end %>
		<% end %>
		
		<% if @user.state.present? && @user.county.present? %>
			<h4>
				Location: <%= @user.county %>, <%= @user.state %>
			</h4>
		<% elsif @user.county.nil? && @user.state.present? %>
			<h4>
				Location: <%= @user.state %>
			</h4>
		<% end %>
	</div>
	<br>
<%= render 'menu' %> </div>

<div class="navigationbtm"></div>
 <br />
 <img src="assets/images/family.png" alt="sample 2" />
 </div>
		<div class="right_column">
			<% if @user.about_us.present? %>
				<h3>About My Family</h3>
					<p><%= @user.about_us %></p>
				<br />
				<div class="hr"></div>
			<% end %>
			<% unless @user.kids.count == 0 %>
				<div class='users_children'>
					<% for kid in @children %>
						<li>
							<% if kid.photo.file? %>
								<%= image_tag kid.photo(:small) %>
							<% else %>
								<img src="/assets/images/nopic.gif">
							<% end %>
							<div class='container'>
								<p><font color='black'>
									Name: <%= kid.first_name.capitalize %> <%= kid.last_name.capitalize %>
								</p>
								<p>
									Age: <%= time_ago_in_words kid.birthday %> old.
								</p>
								<p>
									Birthday: <%= kid.birthday %>
								</p>
								<p>
									School: <%= kid.school %>
								</p>
								<p>
									Grade: <%= kid.grade %>
								</p>
								<p>
									Hobbies: <%= kid.hobbies %>
								</p></font>
							</div><div class='clear'></div>
						</li>
					<% end %>
				</div>
				<% end %>
				<div class='friend_list_left'>
					<% for user in @user.friends %>
						<% if @user.friends.include?(user) %>
							<li>
								<% if user.avatar.file? %>
									<%= image_tag user.avatar.url(:thumb) %>
								<% else %>
									<img src="/assets/images/nopic2.gif">
								<% end %>
								<div class="location_container">
									<div class="button">
										<% if current_user %>
											<% unless current_user.friends.include?(user) %>
												<%= link_to "Add", friendships_path(:friend_id => user), :method => :post %>
											<% end %>
										<% end %>
									</div>
									<%= link_to user.username.capitalize, user.username %>
									<% if user.county.present? && user.state.present? %>
										(<%= user.county %>, <%= user.state %>)
									<% elsif user.state.present? %>
										(<%= user.state %>)
									<% end %>
			</div><div class="clear"></div>
						</li>
					<% end %>
				<% end %>
			</div>

			<div class="event_list_right">
				<% if current_user.friends.include?(@user) && @user.friends.include?(current_user) || @user == current_user %>
					<% for event in @user.events %>
						<li>
							<% if @user == current_user %>
								<div class='button'>
									<%= link_to "delete", event, :method => :delete %>
								</div>
							<% end %>
							<%= link_to event.event_name, "/event/#{event.id}" %>
						</li>
					<% end %>
				<% end %>
			</div>
  	</div>
<br clear="all" /></div>

<%= render 'footer' %>
</body>
</html>

