<html>
<head><title>
<% if @user.first_name.present? && @user.last_name.present? %>
<%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %>
<% else %>
<%= @user.username.capitalize %>
<% end %>
</title>
<link rel="icon" 
      type="image/ico" 
      href="/assets/images/logo.ico">
</head>
<body>
<div class="header">
	<%= render 'topmenu' %>
  <div class="header_interior"><img src="assets/images/logo.png" alt="Logo" width="44" height="44" style="float:left; margin-right:10px;" /> 
  <h1 class="title">Social Playground</h1></div>
</div>
<div class="content_body">
  <div class="content_interior"><div class="left_column"><div class="navigation">
	<div id="avatar">
		<h1>
		<% if @user.first_name.present? && @user.first_name.present? %>
			<%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %>
		</h1>
		<% else %>
				<%= @user.username.capitalize %>
		</h1>
		<% end %>
			<%= image_tag @user.avatar.url(:small) %> 
		<% unless current_user.friends.include?(@user) or @user == current_user %>
			<%= link_to "Add Friend", friendships_path(:friend_id => @user), :method => :post %>
		<% end %>
		
		<% if @user.state.present? && @user.county.present? %>
			<h4>
				Location: <%= @user.county %>, <%= @user.state %>
			</h4>
		<% else %>
			<h4>
				Location: <%= @user.state %>
			</h4>
		<% end %>
	</div>
	<br>
<%= render 'menu' %> </div>

<div class="navigationbtm"></div>
 <br />
 <img src="assets/images/family.png" alt="sample 2" />
 </div>
		<div class="right_column">
			<% if @user.about_us.present? %>
				<h3>About My Family</h3>
					<p><%= @user.about_us %></p>
				<br />
				<div class="hr"></div>
			<% end %>
				<div class='friend_list_left'>
					<% for user in @user.friends %>
						<% if @user.friends.include?(user) %>
							<li>
								<% if user.avatar.file? %>
									<%= image_tag user.avatar.url(:thumb) %>
								<% else %>
									<img src="/assets/images/nopic2.gif">
								<% end %>
								<div class="location_container">
									<div class="button">
										<% unless current_user.friends.include?(user) %>
											<%= link_to "Add", friendships_path(:friend_id => user), :method => :post %>
										<% end %>
									</div>
									<%= link_to user.username.capitalize, user.username %>
									<% if user.county.present? && user.state.present? %>
										(<%= user.county %>, <%= user.state %>)
									<% elsif user.state.present? %>
										(<%= user.state %>)
									<% end %>
			</div><div class="clear"></div>
						</li>
					<% end %>
				<% end %>
			</div>

			<div class="event_list_right">
				<% if current_user.friends.include?(@user) && @user.friends.include?(current_user) || @user == current_user %>
					<% for event in @user.events %>
						<li>
							<% if @user == current_user %>
								<div class='button'>
									<%= link_to "delete", event, :method => :delete %>
								</div>
							<% end %>
							<%= link_to event.event_name, "/event/#{event.id}" %>
						</li>
					<% end %>
				<% end %>
			</div>
  	</div>
<br clear="all" /></div>
<div class="footer"><div class="footer-inner"><div class="footer-div"><h4>Link Area</h4>
<ul>
<li><a href="/index.html">Link 1</a></li>
<li><a href="/index.html">Link 2
</a></li>
<li><a href="/index.html">Link 3
</a></li>
</ul>
</div>

    <div class="footer-div">
      <h4>Link Area</h4>
      <ul>
        <li><a href="/index.html">Link 1</a> </li>
        <li><a href="/index.html">Link 2 </a> </li>
        <li><a href="/index.html">Link 3 </a> </li>
      </ul>
    </div>
    <div class="footer-div">
      <h4>Link Area</h4>
      <ul>
        <li><a href="/index.html">Link 1</a> </li>
        <li><a href="/index.html">Link 2 </a> </li>
        <li><a href="/index.html">Link 3 </a> </li>
      </ul>
    </div>
    <div class="footer-div">
      <h4>Link Area</h4>
      <ul>
        <li><a href="/index.html">Link 1</a> </li>
        <li><a href="/index.html">Link 2 </a> </li>
        <li><a href="/index.html">Link 3 </a> </li>
      </ul>
    </div>
    <br clear="all" />
<%= render 'footer' %>
</body>
</html>

