<html>
<body>
<head><title>Social Playground
</title>
<link rel="icon" 
      type="image/ico" 
      href="/assets/images/logo.ico">
</head>
<div class="header">
	<%= render 'topmenu' %>
  <div class="header_interior"><img src="/assets/images/logo.png" alt="Logo" width="44" height="44" style="float:left; margin-right:10px;" /> 
  <h1 class="title">Social Playground</h1>
	</div>
</div>
<div class="content_body">
  <div class="content_interior"><div class="left_column"><div class="navigation">
	<div id="avatar">
		<h1><% if @user.first_name.present? && @user.last_name.present? %>
			<%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h1>
		<% else %>
			<%= @user.username.capitalize %></h1>
		<% end %>
		<%= image_tag @user.avatar.url(:small) %>
	</div>
	<br>
<%= render 'menu' %>
</div>

<div class="navigationbtm"></div>
 <br />
 <img src="/assets/images/family.png" alt="sample 2" />
 </div>
    <div class="right_column">
			<% if @event.user == current_user %>
			<div id="event_form">
				<div class='flash'>
					<%= flash_helper %>
				</div>
					<%= form_for @event do |f| %>
						<p>
							<%= f.label :event_name %><br>
							<%= f.text_field :event_name %>
						</p>
						<p>
							<%= f.label :event_description %><br>
							<%= f.text_area :event_description %>
						</p>
						<p>
							<%= f.label :date %><br>
							<%= f.date_select :date %>
						</p>
						<p>
							<%= f.label :start_time %><br>
							<%= f.text_field :start_time %>
						</p>
						<p>
							<%= f.submit %>
						</p>
					<% end %>
			</div><div classs='clear'></div>
			<% elsif current_user.friends.include?(@event.user) %>
						<h2>
						<h3><%=h @event.event_name %></h3> 
						<p align='center'><%=h @event.start_time %>, <%= @event.date.strftime('%m-%d-%y') %> 
						</p>
						<div id='event'>
							<%=h @event.event_description %><br>
						</div>
			<% else %>
				<h5>You must be friends with the user that created this event to see it.</h5>
			<% end %>
		</div>
	<div class='right_side'>

	</div>
<br clear="all" /></div>

<%= render 'footer' %>
</body>
</html>
