<html>
	<head>
		<title>List items to give away</title>
		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-30258000-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

		</script>
	</head>
	<div class='topper'>
		<%= render 'topmenu' %>
	</div>
	<%= render 'layouts/header' %>
	<body>
		<%= render 'layouts/header' %>
		<div class="content_body">
			<div class="content_interior"><div class="left_column"><div class="navigation">
			<div id="avatar">
				<% if current_user %>
					<h1><% if @user.first_name.present? && @user.last_name.present? %>
						<%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h1>
					<% else %>
						<%= @user.username.capitalize %></h1>
					<% end %>
					<%= image_tag @user.avatar.url(:small) %>
				<% end %>
			</div>
			<br>
		<%= render 'menu' %>
		</div>

		<div class="navigationbtm"></div>
		 <br />
		 <img src="/assets/images/family.png" alt="sample 2" />
		 </div>
				<div class="right_column">

					<% if @item.user == current_user %>
					<div id="event_form">
						<div class='flash'>
							<%= flash_helper %>
						</div>
							<%= form_for @item do |f| %>
								<p>
									<%= f.label :item %><br>
									<%= f.text_field :item %>
								</p>
								<p>
									<%= f.label :description %><br>
									<%= f.text_area :description %>
								</p>
								<p>
									<%= image_tag @item.photo.url(:large) %>
								</p>
								<p>
									<%= f.label :photo %><br>
									<%= f.file_field :photo %>
								</p>
								<p>
									<%= f.submit %>
								</p>
							<% end %>
					</div>
					<% else %>
								<h3><%=h @item.item %></h3> 
								<div id='event'>
									<%=h @item.description %><br><br />
									<div align="center">
										<%= image_tag @item.photo.url(:large) %>
									</div>
								</div>
					<% end %>
				</div>
			<div class='right_side'>
				
			</div>
		<br clear="all" /></div>
		<div class='footer' align='center'>
		</div>
		<%= render 'users/footer' %>
	</body>
</html>
