<html>
<head><title>
Social Playground
</title>
<link rel="icon" 
      type="image/ico" 
      href="/assets/images/logo.ico">
</head>
<body>
<div class="header">
	<%= render 'topmenu' %>
  <div class="header_interior"><img src="assets/images/logo.png" alt="Logo" width="44" height="44" style="float:left; margin-right:10px;" /> 
  <h1 class="title">Social Playground</h1></div>
</div>
<div class="content_body">
  <div class="content_interior"><div class="left_column"><div class="navigation">
	<div id="avatar">
		 <img src="assets/images/family.png" alt="sample 2" />
	</div>
<div class='flash'>
	<%= flash_helper %>
</div>
<br>
<%= render 'menu' %>
</div>

<div class="navigationbtm"></div>
 <br />
</div>
    <div class="right_column">
	<ul id="user_list">
		<% for user in @users %>
						<li><% if user.avatar.file? %>
									<%= image_tag user.avatar.url(:thumb) %>
								<% else %>
									<img src="assets/images/nopic2.gif">
								<% end %>
						<div class="user_message_container">
								<% if user.first_name.present? %>
									<%= link_to user.first_name.capitalize, user.username %>
								<% else %>
							<%=h link_to user.username.capitalize, user.username %>
								<% end %>
							<% unless current_user.friends.include?(user) %>
							<div class="button">
								<%= link_to "Add", friendships_path(:user_id => user), :method => "post" %>
							</div>
							<% end %>
							<%= user.about_us %>
			</div>
			<div class="clear"></div>
		<% end %>
	<br />
		</li>
	</ul> 
		</div><div class='clear'></div>
<br clear="all" /></div>
<div class="footer"><div class="footer-inner"><div class="footer-div"><h4>Link Area</h4>
<ul>
<li><a href="/index.html">Link 1</a></li>
<li><a href="/index.html">Link 2
</a></li>
<li><a href="/index.html">Link 3
</a></li>
</ul>
</div>

    <div class="footer-div">
      <h4>Link Area</h4>
      <ul>
        <li><a href="/index.html">Link 1</a> </li>
        <li><a href="/index.html">Link 2 </a> </li>
        <li><a href="/index.html">Link 3 </a> </li>
      </ul>
    </div>
    <div class="footer-div">
      <h4>Link Area</h4>
      <ul>
        <li><a href="/index.html">Link 1</a> </li>
        <li><a href="/index.html">Link 2 </a> </li>
        <li><a href="/index.html">Link 3 </a> </li>
      </ul>
    </div>
    <div class="footer-div">
      <h4>Link Area</h4>
      <ul>
        <li><a href="/index.html">Link 1</a> </li>
        <li><a href="/index.html">Link 2 </a> </li>
        <li><a href="/index.html">Link 3 </a> </li>
      </ul>
    </div>
    <br clear="all" />
<%= render 'footer' %>
</body>
</html>
