<html>
<body>
<head><title>Our Children Play
</title>
<link rel="icon" 
      type="image/ico" 
      href="/assets/images/logo.ico">
</head>
<div class="header">
	<%= render 'users/topmenu' %>
  <div class="header_interior"><img src="/assets/images/logo.png" alt="Logo" width="44" height="44" style="float:left; margin-right:10px;" /> 
  <h1 class="title">Our Children Play</h1>
	</div>
</div>
<div class="content_body">
  <div class="content_interior"><div class="left_column"><div class="navigation">
	<div id="avatar">
		<img src='/assets/images/family.png'>
	</div>
	<br>
<%= render 'users/menu' %>
 </div>

<div class="navigationbtm"></div>
 <br />
 </div>
    <div class="right_column">
			<h1>Listing posts</h1>

			<table border= 1px, width= 500px>
				<tr>
					<th>Title</th>
					<th>Text</th>
					<th></th>
				</tr>

			<% @posts.each do |post| %>
				<tr>
					<td><%= link_to post.title, post %></td>
					<td><%= truncate post.text %></td>
					<td><%= link_to 'Show', post %>
					<% if post.user = current_user %>
						| <%= link_to 'Edit', edit_post_path(post) %> |
						<%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
					<% else %>
						</td>
					<% end %>
				</tr>
			<% end %>
			</table>
			<%= will_paginate @post %>
			<br />

			<%= link_to 'New Post', new_post_path %>
		</div>
	<div class='right_side'>

	</div>
<br clear="all" /></div>

<%= render 'users/footer' %>
</body>
</html>
