<html>
	<body>
		<%= render 'layouts/header' %>
		<div class="content_body">
			<div class="content_interior"><div class="left_column"><div class="navigation">
			<div id="avatar">
				<img src='/assets/images/family.png'>
			</div>
			<br>
		<%= render 'users/menu' %>
		 </div>

		<div class="navigationbtm"></div>
		 <br />
		 </div>
				<div class="right_column">
					<div class='flash'>
						<%= flash_helper %>
					</div>
					<h1>New post</h1>

					<%= render 'form' %>

					<%= link_to 'Back', posts_path %>
				</div>
			<div class='right_side'>

			</div>
		<br clear="all" /></div>

		<%= render 'users/footer' %>
	</body>
</html>
