<html>
	<head>
		<title><%= @post.title %></title>
		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-30258000-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

		</script>
	</head>
	<div class='topper'>
		<%= render 'users/topmenu' %>
	</div>
	<%= render 'layouts/header' %>
	<body>
		<div class="content_body">
			<div class="content_interior"><div class="left_column"><div class="navigation">
			<div id="avatar">
				<img src='/assets/family.png'>
			</div>
			<br>
		<%= render 'users/menu' %>
		 </div>

		<div class="navigationbtm"></div>
		 <br />
		 </div>
				<div class="right_column">
					<div class='flash'>
						<%= flash_helper %>
					</div>
					<p>
						<b>Title:</b>
						<%= @post.title %>
					</p>

					<p>
						<b>Text:</b>
						<%= @post.text %> - <%= @post.name %>
					</p>
					<h7>Comments</h7>
					<% @post.comments.each do |comment| %>
						<p>
							<b>Name:</b> <%= comment.name %><br>
							<b>Comment:</b> <%= comment.text %><br>
							<%= time_ago_in_words comment.created_at %> ago
						</p>
					<% end %>

					<%= form_for [@post, @post.comments.build] do |f| -%>
						<div id='new_feed_form'>
							<%= f.label :name %><br />
							<% unless current_user %>
								<%= f.text_field :name -%><br />
							<% end %>
							<% if current_user %>
								<%= f.text_field :name, :value => current_user.username.capitalize %><br />
							<% end %>
							<%= f.label :text %><br />
							<%= f.text_area :text -%>
							<%= f.submit -%>
						</div>
					<% end %>


					<% if @post.user = current_user %>
						<%= link_to 'Edit', edit_post_path(@post) %> | 
						<%= link_to 'Delete', @post, :method => :delete, :confirm => "Are you sure you want to delete this post?" %> | 
					<% end %>
					<%= link_to 'Back', posts_path %>
				</div>
			<div class='right_side'>
				
			</div>
		<br clear="all" /></div>
		<div class='footer' align='center'>
		</div>
		<%= render 'users/footer' %>
	</body>
</html>
