<html>
	<head>
		<meta name="keywords" content="family fun, family activities, fun for families, family friendly fun, things to do with family" />
		<meta name="description" content="A place where you can review some activities that people do with their families for fun, and also post some that you do with yours for others to be able to try out." />
		<title>Add a fun family activity for others to see</title>
		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-30258000-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

		</script>
	</head>
	<div class='topper'>
		<%= render 'users/topmenu' %>
	</div>
	<%= render 'layouts/header' %>
	<body>
		<div class="content_body">
			<div class="content_interior"><div class="left_column"><div class="navigation">
			<div id="avatar">
				<img src='/assets/family.png'>
			</div>
			<br>
		<%= render 'users/menu' %>
		 </div>

		<div class="navigationbtm"></div>
		 <br />
		 </div>
				<div class="right_column">
					<div class='flash'>
						<%= flash_helper %>
					</div>
					<h7>Add a family activity</h7>
					<p>This is where you can add some activities that you have done with your family. These activities may be something new that another family has not tried. This will help families learn new ways to have fun spending time together.</p>
					<%= form_for Activity.new do |f| %>
						<p>
							<%= f.label :title %><br />
							<%= f.text_field :title %>
						</p>
						<p>
							<%= f.label :description %><br />
							<%= f.text_area :description %>
						</p>
						<p><%= f.submit %></p>
					<% end %>
				</div>
			<div class='right_side'>
				
			</div>
		<br clear="all" /></div>
		<div class='footer' align='center'>
		</div>
		<%= render 'users/footer' %>
	</body>
</html>
