<html>
	<body>
		<%= render 'layouts/header' %>
		<div class="content_body">
			<div class="content_interior"><div class="left_column"><div class="navigation">
			<div id="avatar">
				<img src='/assets/images/family.png'>
			</div>
			<br>
		<%= render 'users/menu' %>
		 </div>

		<div class="navigationbtm"></div>
		 <br />
		 </div>
				<div class="right_column">
					<div class='flash'>
						<%= flash_helper %>
					</div>
					<h7>Add a family activity</h7>
					<%= form_for Activity.new do |f| %>
						<p>
							<%= f.label :title %><br />
							<%= f.text_field :title %>
						</p>
						<p>
							<%= f.label :description %><br />
							<%= f.text_area :description %>
						</p>
						<p><%= f.submit %></p>
					<% end %>
				</div>
			<div class='right_side'>

			</div>
		<br clear="all" /></div>

		<%= render 'users/footer' %>
	</body>
</html>
